Repository chickenandpork/rules_synology: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, buildifier-examples, golines

.pre-commit-config.yaml:

# To install the dependencies for this file:
# 1) pip install pre-commit
#   (really, "sudo python3 -m pip install pre-commit")
#   (really, I've been carrying this boilerplate for years, but now it's all python3?)
#
# 2) pre-commit install --allow-missing-config
#
# yamllint checks this .pre-commit-config file as well
---
repos:
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
        args: [
          '-d',
          '{extends: relaxed, rules: {line-length: {max: 120}}}'
        ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.18.3
    hooks:
      - id: check-github-workflows
      - id: check-renovate
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.2.0
    hooks:
      - id: cspell
        # a local allowlist of dictionary words in .github/cspell.yaml.  This can get comical --
        # adding new words in every PR -- but the cost/benefit balance may avoid some embarassing
        # typos
        args: [ '--config', '.github/cspell.yaml' ]
        types: [file, markdown]

  - repo: local
    hooks:
      - id: buildifier
        name: bazel run //tools:gazelle
        description: Cleans up BUILD files as confirmed in starlark linter
        language: system
        entry: bazel run //tools:gazelle
        # the "identify" needs to be updated to recognize bazel files directly
        files: '\.bazel$|\.bzl$|WORKSPACE'
      - id: buildifier-examples
        name: bazel run //tools:gazelle in examples
        description: Cleans up BUILD files as confirmed in starlark linter
        language: system
        entry: bash tools/gazelle-examples.sh
        # the "identify" needs to be updated to recognize bazel files directly
        files: '\.bazel$|\.bzl$|WORKSPACE'
        require_serial: true
      - id: golines
        name: GoLines line-limiter (runs gofmt)
        language: system
        entry: golines -w
        files: \.go$

feature: split DSM version from model/arch
  arch/BUILD.bazel
  dsm/BUILD.bazel
  dsm/dsm.bzl
  models/BUILD.bazel
  toolchains/BUILD.bazel
Due: buildifier, buildifier-examples

chore: update precommit
  .pre-commit-config.yaml
Due: none

chore: typos
  .github/cspell.yaml
  README.md
  examples/README.md
Due: none

fix: Automerge is too eager, needs to wait for check_suite to succeed
  .github/workflows/automerge.yml
  .pre-commit-config.yaml
Due: none

use versions not hashes
  .github/workflows/bazel.yml
Due: none

chore: buildifier to cleanup format
  dsm/BUILD.bazel
  tools/BUILD.bazel
  unittests/info-file/BUILD.bazel
  unittests/resources/BUILD.bazel
Due: buildifier, buildifier-examples

feat: demonstrate packaging up pre-built kernel mods from remote asset
  .github/cspell.yaml
  examples/example-kernelmod-spk/.bazelrc
  examples/example-kernelmod-spk/.bazelversion
  examples/example-kernelmod-spk/BUILD.bazel
  examples/example-kernelmod-spk/README.md
  examples/example-kernelmod-spk/WORKSPACE
  examples/example-kernelmod-spk/bzl/go_dependencies.bzl
  examples/example-kernelmod-spk/maintainers/BUILD.bazel
  examples/example-kernelmod-spk/spk/netfilter-mods/BUILD.bazel
  examples/example-kernelmod-spk/spk/netfilter-mods/Dockerfile.fenio
  examples/example-kernelmod-spk/spk/netfilter-mods/NOTES
  examples/example-kernelmod-spk/spk/netfilter-mods/contbuild
  examples/example-kernelmod-spk/spk/netfilter-mods/k3s_install.patch
  examples/example-kernelmod-spk/spk/netfilter-mods/run-install.sh
  examples/example-kernelmod-spk/tests/BUILD.bazel
  synology/privilege-configure.bzl
Due: buildifier, buildifier-examples

feat: expose a Synology Usr-Local-Linker resource
  defs.bzl
  synology/resource-configure.bzl
  synology/usr-local-linker.bzl
Due: buildifier, buildifier-examples

chore(deps): update netfilter-kmods to v1.1.0 to get kernel config
  examples/example-kernelmod-spk/WORKSPACE
Due: buildifier, buildifier-examples

feat: bump go toolchain 1.19.5 -> 1.22.4 to permit newer rulesets
  WORKSPACE
Due: buildifier, buildifier-examples

chore: format/lint
  examples/example-server/server/health.go
Due: golines

feat: script to confirm crosstool selection
  tools/confirm-cross-selection.bash
Due: none

feat: script to confirm crosstool selection
  .github/cspell.yaml
  README.md
  examples/cross-helloworld/confirm-cross-selection.bash
  tools/confirm-cross-selection.bash
Due: none

fix: reinstate removed test dirs
  examples/example-kernelmod-spk/tests/BUILD.bazel
Due: buildifier, buildifier-examples

Ensure handling of MODULE.bazel
  .github/renovate.json
Due: none

chore: activate golang dep manager
  .github/renovate.json
Due: none

fix: correct PR #92
  .github/renovate.json
Due: none

fix: revert #92
  .github/renovate.json
Due: none

chore: dedupe versions, dsm from platforms
  config/BUILD
  config/platforms.bzl
  dsm/BUILD.bazel
  dsm/dsm.bzl
  models/BUILD.bazel
Due: buildifier, buildifier-examples

fix: Automate any go.mod updates
  .github/renovate.json
Due: none

chore: bump MODULE.bazel.lock
  MODULE.bazel
  MODULE.bazel.lock
  examples/cross-helloworld/MODULE.bazel.lock
  examples/example-server/MODULE.bazel.lock
Due: buildifier, buildifier-examples

chore: cleanup repo_names
  MODULE.bazel
  bzl/go_dependencies.bzl
  examples/cross-helloworld/BUILD.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-kernelmod-spk/bzl/go_dependencies.bzl
  examples/example-server/MODULE.bazel
  examples/example-server/api/BUILD.bazel
  examples/example-server/bzl/go_dependencies.bzl
  examples/example-server/go.mod
  examples/example-server/server/BUILD.bazel
  tools/BUILD.bazel
Due: buildifier, buildifier-examples

chore: add pre-built buildifier, bump dep versions
  .github/workflows/bazel.yml
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  arch/BUILD.bazel
  dsm/BUILD.bazel
  examples/cross-helloworld-no-go/.bazelrc
  examples/cross-helloworld/.bazelrc
  examples/cross-helloworld/MODULE.bazel
  examples/cross-helloworld/MODULE.bazel.lock
  examples/example-kernelmod-spk/.bazelrc
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-server/MODULE.bazel
  examples/example-server/MODULE.bazel.lock
  toolchains/denverton-gcc850_glibc226_x86_64-GPL.BUILD
  toolchains/deps.bzl
  toolchains/geminilake-gcc850_glibc226_x86_64-GPL.BUILD
  tools/BUILD.bazel
  tools/ubuntu-22.04/Dockerfile
  tools/ubuntu-22.04/README.md
  tools/ubuntu-22.04/bazelrc
Due: buildifier, buildifier-examples

feat: enable armada37xx toolchain
  .github/workflows/bazel.yml
  .gitignore
  MODULE.bazel
  config/platforms.bzl
  examples/cross-helloworld-no-go/BUILD.bazel
  examples/cross-helloworld-no-go/MODULE.bazel
  examples/cross-helloworld-no-go/README.md
  examples/cross-helloworld-no-go/WORKSPACE
  examples/cross-helloworld-no-go/bzl/patches/BUILD
  examples/cross-helloworld-no-go/bzl/patches/chickenandpork-i686-mostly-acts-like-x86_64.patch
  examples/cross-helloworld-no-go/confirm-cross-selection.bash
  examples/cross-helloworld-no-go/main.cc
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-kernelmod-spk/MODULE.bazel.lock
  toolchains/BUILD.bazel
  toolchains/arm64_gcc_linux_x86_64.BUILD
  toolchains/armada37xx-gcc850_glibc226_armv8-GPL.BUILD
  toolchains/deps.bzl
  toolchains/geminilake-gcc850_glibc226_x86_64-GPL.BUILD
  tools/dockcross-linux-x86-bazel/Dockerfile
Due: buildifier, buildifier-examples

fix: clean up netfilter-mods package based on install experience
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-kernelmod-spk/MODULE.bazel.lock
  examples/example-kernelmod-spk/spk/netfilter-mods/BUILD.bazel
  examples/example-kernelmod-spk/spk/netfilter-mods/Dockerfile.fenio
  examples/example-kernelmod-spk/spk/netfilter-mods/NOTES
  examples/example-kernelmod-spk/spk/netfilter-mods/contbuild
  examples/example-kernelmod-spk/spk/netfilter-mods/k3s_install.patch
  examples/example-kernelmod-spk/spk/netfilter-mods/run-install.sh
Due: buildifier, buildifier-examples

feat: Generate lists of supported DSM, Models, Arch
  MODULE.bazel.lock
  arch/BUILD.bazel
  doc/BUILD.bazel
  doc/arch.txt
  doc/dsm.txt
  doc/models.txt
  doc/toolchains.txt
  dsm/BUILD.bazel
  models/BUILD.bazel
  toolchains/BUILD.bazel
Due: buildifier, buildifier-examples

feat: simplify dependent MODULE.bazel
  examples/cross-helloworld-no-go/MODULE.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-server/MODULE.bazel
Due: buildifier, buildifier-examples

feat: add more Synology models
  arch/BUILD.bazel
  config/platforms.bzl
  models/BUILD.bazel
Due: buildifier, buildifier-examples

chore: activate prebuilt_buildifier
  .pre-commit-config.yaml
  BUILD.bazel
  MODULE.bazel
  arch/BUILD.bazel
  examples/cross-helloworld-no-go/BUILD.bazel
  examples/cross-helloworld/BUILD.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/example-kernelmod-spk/BUILD.bazel
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-server/MODULE.bazel
Due: buildifier, buildifier-examples

feat: further simplify dependents' use-cases
  examples/cross-helloworld-no-go/MODULE.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-server/MODULE.bazel
Due: buildifier, buildifier-examples

feat: simplify the validation of a cross-build binary
  MODULE.bazel
  MODULE.bazel.lock
  defs.bzl
  examples/cross-helloworld-no-go/BUILD.bazel
  examples/cross-helloworld/BUILD.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/cross-helloworld/MODULE.bazel.lock
  synology/unittests.bzl
Due: buildifier, buildifier-examples

feat: Activate stardoc/mkdocs documentation
  .github/cspell.yaml
  .github/mkdocs.yml
  .github/workflows/bazel.yml
  .github/workflows/publish-docs.yml
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  config/platforms.bzl
  defs.bzl
  docs/BUILD.bazel
  docs/README.md
  docs/gen/BUILD.bazel
  docs/gen/arch.txt
  docs/gen/dsm.txt
  docs/gen/models.txt
  docs/gen/toolchains.txt
  docs/glossary.md
  docs/index.md
  examples/BUILD.bazel
  examples/example-kernelmod-spk/MODULE.bazel
  examples/example-kernelmod-spk/spk/netfilter-mods/BUILD.bazel
  examples/example-kernelmod-spk/tests/BUILD.bazel
  examples/example-server/MODULE.bazel
  mkdocs.yml
  synology/BUILD.bazel
  synology/info-file.bzl
  synology/privilege-configure.bzl
  synology/resource-configure.bzl
  synology/unittests.bzl
  synology/usr-local-linker.bzl
  toolchains/deps.bzl
  toolchains/extensions.bzl
Due: buildifier, buildifier-examples

feat: activate release-please
  .github/workflows/automerge.yaml
  .github/workflows/bazel.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/release.yaml
  README.md
Due: none

feat: activate release-please (#122)
  .github/workflows/automerge.yaml
  .github/workflows/bazel.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/release.yaml
  README.md
Due: none

feat: release to BCR
  .bcr/config.yml
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .bcr/source.template.json
  .github/cspell.yaml
  .github/workflows/release.yaml
Due: none

feat: release to BCR (#125)
  .bcr/config.yml
  .bcr/metadata.template.json
  .bcr/presubmit.yml
  .bcr/source.template.json
  .github/cspell.yaml
  .github/workflows/release.yaml
Due: none

feat: example docker-project pkg
  BUILD.bazel
  defs.bzl
  docs/index.md
  examples/cross-helloworld-no-go/MODULE.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/example-docker-project/BUILD.bazel
  examples/example-docker-project/MODULE.bazel
  examples/example-docker-project/README.md
  examples/example-docker-project/bzl/go_dependencies.bzl
  examples/example-docker-project/maintainers/BUILD.bazel
  examples/example-docker-project/spk/nginx/BUILD.bazel
  examples/example-docker-project/spk/nginx/dc.yaml
  examples/example-docker-project/tests/BUILD.bazel
  examples/example-server/MODULE.bazel.lock
  examples/example-server/spk/exampleserver/BUILD.bazel
  examples/example-server/tests/BUILD.bazel
  synology/BUILD.bazel
  synology/docker-project.bzl
  synology/resource-configure.bzl
  synology/unittests.bzl
  synology/usr-local-linker.bzl
Due: buildifier, buildifier-examples

feat: example docker-project pkg (#127)
  BUILD.bazel
  defs.bzl
  docs/index.md
  examples/cross-helloworld-no-go/MODULE.bazel
  examples/cross-helloworld/MODULE.bazel
  examples/example-docker-project/BUILD.bazel
  examples/example-docker-project/MODULE.bazel
  examples/example-docker-project/README.md
  examples/example-docker-project/bzl/go_dependencies.bzl
  examples/example-docker-project/maintainers/BUILD.bazel
  examples/example-docker-project/spk/nginx/BUILD.bazel
  examples/example-docker-project/spk/nginx/dc.yaml
  examples/example-docker-project/tests/BUILD.bazel
  examples/example-server/MODULE.bazel.lock
  examples/example-server/spk/exampleserver/BUILD.bazel
  examples/example-server/tests/BUILD.bazel
  synology/BUILD.bazel
  synology/docker-project.bzl
  synology/resource-configure.bzl
  synology/unittests.bzl
  synology/usr-local-linker.bzl
Due: buildifier, buildifier-examples
